<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouveau client</title>
    {% load static %}  <!-- Charge le tag static -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"> <!-- Lien vers le fichier CSS -->
</head>
<body>
    {% block content %}
        <h1>Nouveau client !</h1>
        <p>ajouter le nouveau client.</p>

        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Soumettre">
        </form>
    {% endblock %}
</body>
</html>

